header {
  background-color: rgb(255, 253, 253);
  color: black;
  padding: 1px;
  text-align: center;
}

nav {
  background-color: #bdbebf;
  padding: 7px;
  text-align: center;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 10px;
}

body {
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  font-weight: 10px solid bolder;
  color: black;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5, #4f5bd5, #48bfe3, #64dfdf, #a8dadc, #cdf0ea);
  margin: 0;
  padding: 0;
}

main {
  padding: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.socials-container {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  padding: 10px 20px;
  background-color: transparent;
}
.social {
  width: 120px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  border: 7px solid rgb(13, 13, 13);
}
.twitter:hover {
  background: linear-gradient(45deg, #66757f, #00acee, #36daff, #dbedff);
}
.facebook:hover {
  background: linear-gradient(45deg, #134ac0, #316ff6, #78a3ff);
}
.google-plus:hover {
  background: linear-gradient(45deg, #872419, #db4a39, #ff7061);
}
.instagram:hover {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.social svg {
  fill: white;
  height: 25px;
}

footer {
  background-color:  rgb(255, 253, 253);
  color: black;
  text-align: center;
  padding: 7px;
  position: fixed;
  bottom: 0;
  width: 100%;
}