
h1{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: rgba(113, 7, 102, 0.69);
   
}

body {
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(3, 10, 74);
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    color:black;
    border-radius: 10px;
    border: 15px double;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkred;
}

.forgot {
    display: block;
    text-align: right;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(151, 6, 188);
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    text-align: center;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

label {
    font-weight:bold;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid #691593;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: blueviolet;
    border:4px dotted black;

}


a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}
#error {
    color:red;
}
.p1 {
    font-family:'Courier New', Courier, monospace;
} 
label {
    color:rgb(107, 4, 112);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
