.flex-container {
    height: 500px;
    display:flex;
    flex wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: center;
    /*justify-content: space-between;
    /*justify-content: flex-end;
    /*justify-content: flex-start;*/
    /*justify-content: center;*/
   /*flex-direction: column;*/
   /*flex-wrap: wrap-reverse;*/
    background-color: aqua;
}

.flex-container>div {
    background-color: blue;
    margin:10px;
    padding:20px;
    font-size:30px;
}


