.static {
    position: static;
    background-color: rgb(6, 85, 84);
    color:black;
    margin: 5px;
    padding: 10px;
    border: 5px solid rgb(4, 177, 204);
}
.relative {
    position: relative;
    left: 50px;
    top: 100px;
    background-color: rgb(130, 45, 133);
    color:black;
    margin: 5px;
    padding: 10px;
    border: 5px solid rgb(109, 21, 156);
}
.absolute {
    position: absolute;
    top: 50px;
    left: 10px;
    width:auto;
    height:auto;
    background-color: rgb(34, 71, 8);
    color:black;
    border: 5px solid rgb(89, 89, 145);
    padding: 10px;
}
.fixed {
    position: fixed;
    left: 0;
    top: 0;
    color:black;
    background-color:rgb(217, 147, 43);
    width: 100px;
    padding: 10px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 200px;
    padding: 5px;
    width:auto;
    height:auto;
    background-color: rgb(196, 104, 175);
    color:brown;
    border: 5px solid rgb(182, 109, 123);
}