.grid-container {
    display: grid;
    grid-template-columns: 50px 100px 150px;
    background-color: #0ae78b;
    padding: 10px;
}

.grid-item {
    background-color: rgb(5, 142, 87);
    border: 1px solid rgb(10, 248, 200);
    padding: 20px;
    font-size: 30px;
    text-align:center;
}